doctype html
html
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    title Splist | #{title}
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  body
    nav
      .user user
        .user-modal
          button.spotify-login.button #{spotifyToken ? 'Spotify' : 'connect spotify'}
          a.button(href="/login") login
          a.button(href='/playlists') playlists
          button.light-dark-button.button light
      .site-title-container
        a(href='/').site-title splist
    main
      block content
    script(src="/js/output.js")