extends base

block content 
    div
        form.login-form
            input.email(type="email" placeholder="email")
            input.password(type="password" placeholder="password")
            p.error
            button(type="submit") Submit