extends base

block content 
    .account-forms
        .account-wrapper 
            .form-box.forgot-password 
                h2 forgot password
                form.forgot-form
                    .input-box 
                        input.email(type="email" required)
                        label email
                    p.error
                    p.success
                    button.form-button(type="submit") send email
                    .forget 
                        p have an account?
                            a  login
            .form-box.login 
                h2 splist login
                form.login-form
                    .input-box 
                        input.email(type="email" required)
                        label email
                    .input-box 
                        input.password(type="password" required)
                        label password
                    p.error
                    .forget 
                        a forgot password?
                    button.form-button(type="submit") login
                    .login-register 
                        p don't have an account?
                            a  register
            .form-box.register 
                h2 splist register
                form.register-form
                    .input-box 
                        input.email(type="email" required)
                        label email
                    .input-box 
                        input.password(type="password" required)
                        label password
                    .input-box 
                        input.confirm-password(type="password" required)
                        label confirm password
                    p.error
                    button.form-button(type="submit") sign up
                    .login-register 
                        p already have an account?
                            a  login