extends base

block content
    h1.playlist-title.hidden= playlistName
    button.back-button back
    .playlist 
        each song in playlist 
            .song.hidden
                img.song-image(src=`${song.img}`)
                .song-details
                    p.song-name= song.name
                    p.song-artist= song.artist