extends base

block content 
    h1.playlist-title.hidden playlists
    button.edit-button.button edit
    if playlists
        .saved-playlists
            each playlist in playlists
                .playlist-group.hidden
                    .delete-button
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6" width="60px")
                            path(fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd")
                    .delete-container
                    h3.playlist-group-name= playlist.name
                    .image-group
                        if playlist.tracks[0].img
                            img.playlist-image(src=`${playlist.tracks[0].img}`)
                        else
                            .song-fake
                        if playlist.tracks[1].img
                            img.playlist-image(src=`${playlist.tracks[1].img}`)
                        else
                            .song-fake
                        if playlist.tracks[2].img
                            img.playlist-image(src=`${playlist.tracks[2].img}`)
                        else
                            .song-fake
    if !playlists
        h2 You have not generated any playlists!