extends base

block content 
    .account-forms
        .account-wrapper
            .form-box.reset
                h2 password reset
                form.reset-password
                    .input-box
                        input.password(type="password" required)
                        label password
                    .input-box
                        input.confirm-password(type="password" required)
                        label confirm password
                    p.error
                    button.form-button(type="submit") reset password