extends base
    
block content
    .thank-you
        h1 Hello! 
        p.thanks Thank you for taking an interest in Splist! Creating playlists for an exact mood or to match a song has been a dream of mine for awhile now. So here's just that!
        p Currently rebuilding the interface for a better experience, big improvements coming soon!
        a.button(href="/") home