extends base

mixin step(number, video, title, description)
    hr.break-line
    .welcome-step 
        .step-left 
            h3= `step ${number}`
            h1= title
            p= description
        .step-right
            if video
                video.video(height="700" width="1100" muted playsinline loading='lazy' loop)
                    source(src=`/videos/${video}` type="video/mp4")

block content 
    .welcome-page 
        .split
            h1 generate
            h1 playlists 
            h1 with ease
            a.button(href='/login') start now
        .split
            img(src="/images/splist-mac-model.png").product-img
        +step('1', 'splist-1.mp4', 'create account', 'create an account with splist and login with spotify.')
        +step('2', 'splist-2.mp4', 'type and submit', 'as simple as that, splist will generate the playlist based on your request.')
        +step('3', 'splist-3.mp4', 'send to spotify', 'if you like what you see, send the playlist to spotify or try again. you can also save for later, youtube support coming soon.')
        +step('4', '', 'enjoy', 'open the playlist right from splist and jam out!')